@model FinalProject.Class[]


@{
    ViewBag.Title = "Courses";
}

<header style="font-size:xx-large">
    Courses
</header>



@if (Model.Length > 0)
{
    <table align="center" border="1" frame="void" rules="rows" width="100%">
        <tr>
            <td align="left" style="font-weight:bold">Name</td>
            <td align="left" style="font-weight:bold">Description</td>
            <td align="left" style="font-weight:bold">Price</td>
        </tr>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.ClassName</td>
                <td>@course.ClassDescription</td>
                <td>@course.ClassPrice.ToString("F2")</td>
            </tr>
        }
    </table>
}
else
{
    <h2>No course data found.</h2>
}