<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .btn a {
        color: white;
        text-decoration: none;
    }

    body {
        background-color: #4286f4;
    }
</style>
<head>
    <title>WELCOME</title>
</head>
<div class="text-center">
    <h2>It's my birthday!</h2>
    <h3>I like cards!</h3>

    <div class="btn btn-success">
        @Html.ActionLink("Write me a birthday card!", "BirthdayCardForm")
    </div>
</div>

